<form class="col-3 p-5" style="background-color: #ffffff; border-radius: 20px" [formGroup]="resetPasswordForm" (ngSubmit)="submit(confirmBtn)">
  <div class="form-group ">
    <label for="exampleInputEmail1">Nhập tên đăng nhập</label>
    <input type="email" class="form-control form-control-lg" id="exampleInputEmail1" aria-describedby="emailHelp" formControlName="username">
  </div>
  <!-- Submit button -->
  <input type="submit" class="btn btn-outline-danger btn-block mb-4 btn-lg" value="Xác nhận">
</form>

<!-- Button trigger modal -->
<button #confirmBtn [hidden]="true" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <input [(ngModel)]="confirmCode">
        <small class="text-danger">{{errorMessage}}</small>
      </div>
      <div class="modal-footer">
        <button #closeModal type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="checkCode(closeModal)">Save changes</button>
      </div>
    </div>
  </div>
</div>
